.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background:#1382C6;
}

.alert{
    padding: 20px!important;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
    background:#1382C6!important;
}

.cookiealert a {
    text-decoration: underline;
    color:#fff!important;
}

.cookiealert .acceptcookies, .cookiealert .rejectcookies, .cookiealert .gestaobtn {
    margin-left: 10px;
    vertical-align: baseline;
    background: rgb(56, 59, 117);
}

// Medium devices (tablets, 768px and up)
@media (max-width: 520px){
    .cookiealert .acceptcookies{
        margin-left: 0px!important;
        margin-top: 5px;
    }
}
@media (max-width: 768px){
    .cookiealert .acceptcookies{
        margin-left: 0px!important;
        margin-top: 5px;
    }
}

@media (min-width: 1400px) {

}